@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


* {
  user-select: none;
  border-radius: var(--mdui-shape-corner-extra-large);
}




#background {
  z-index: -100;
  position: fixed;
  will-change: filter;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  width: calc(100lvw + 60px);
  height: calc(100lvh + 60px);
}

#background .background-image {
  z-index: -100;
  background-image: var(--bg_img);
  opacity: 0.5;
  position: absolute;
  inset: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@supports not (animation-timeline: scroll(root y)) {
  .content {
    margin-top: max(0px, calc(-140vh * var(--scroll-y-percent) + 35vh));
    margin-bottom: calc(
      35vh - max(0px, calc(-140vh * var(--scroll-y-percent) + 35vh))
    );
    --opacity: calc(var(--scroll-y-percent) / 0.15);
  }
}

html::view-transition-new(root) {
  mix-blend-mode: normal;
  animation: theme-switch 1s ease-out;
}

@supports not (animation-timeline: scroll(root y)) {
  #background {
    --blur: clamp(0px, calc(50px * var(--scroll-y-percent, 0) + -5px), 10px);
    --brightness: clamp(0.7, calc(-1.5 * var(--scroll-y-percent, 0) + 1.15), 1);
    filter: blur(var(--blur)) brightness(var(--brightness));
  }
}
