@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-theme {
  position: fixed;
  right: 20px;
  top: 20px;
  display: block;
  width: min(8vw, 32px);
  height: min(8vw, 32px);
  cursor: pointer;
  fill: color-mix(in srgb, var(--md-sys-color-primary-container), #fff 30%);
  transition: opacity 0.3s ease;
  opacity: 0.5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform-origin: right top;
  z-index: 10;
  animation: theme-switch-scale auto ease;
  animation-fill-mode: both;
  animation-timeline: scroll(root y);
  animation-range-start: 10vh;
  animation-range-end: 50vh;
}

@supports (animation-timeline: scroll(root y)) {
  #background {
    animation: background-blur-dim auto linear;
    animation-fill-mode: both;
    animation-timeline: scroll(root y);
    animation-range-start: 10vh;
    animation-range-end: 30vh;
  }

  @keyframes background-blur-dim {
    0% {
      filter: blur(0px) brightness(1);
    }

    to {
      filter: blur(10px) brightness(0.7);
    }
  }
}

a {
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  button {
    background-color: #f9f9f9;
  }
}

* {
  user-select: none;
  border-radius: var(--mdui-shape-corner-extra-large)
}

html {
  overflow-y: auto;
  overflow-y: overlay;
}

html::view-transition-old(root) {
  mix-blend-mode: normal;
  opacity: 1;
  animation: none;
}

@supports (animation-timeline: scroll(root y)) {
  .content {
    animation: content-shift auto linear;
    animation-fill-mode: both;
    animation-timeline: scroll(root y);
    animation-range-start: 0;
    animation-range-end: 25vh;
  }

  @keyframes content-shift {
    0% {
      margin-top: 35vh;
      margin-bottom: 0vh;
      opacity: 0;
    }

    to {
      margin-top: 0vh;
      margin-bottom: 35vh;
      opacity: 1;
    }
  }

  @keyframes widget-in {
    0% {
      scale: 0.8;
      opacity: 0;
    }

    to {
      scale: 1;
      opacity: 1;
    }
  }

  .content .widget,
  .content .project {
    animation: widget-in auto linear;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 0 entry 100px;
  }
}

.banner-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  transform: translateY(-50%);
}

.avatar img {
  aspect-ratio: 1 / 1;
  width: clamp(120px, 26vmin, 200px);
  height: auto;
  flex-shrink: 0;
  pointer-events: none;
  user-select: none;
  animation-name: avatar;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.3s;
  animation-fill-mode: both;
  border-radius: 50%;
}

@keyframes avatar {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 1300px) {
  .banner {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 880px) {
  .banner {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

#background {
  position: fixed;
  will-change: filter;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  width: calc(100lvw + 60px);
  height: calc(100lvh + 60px);
}

#background .background-image {
  z-index: -99;
  background-image: var(--bg_img);
  opacity: 0.5;
  position: absolute;
  inset: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@supports not (animation-timeline: scroll(root y)) {
  .content {
    margin-top: max(0px, calc(-140vh * var(--scroll-y-percent) + 35vh));
    margin-bottom: calc(
      35vh - max(0px, calc(-140vh * var(--scroll-y-percent) + 35vh))
    );
    --opacity: calc(var(--scroll-y-percent) / 0.15);
  }
}

html[style*="--scroll-y: 0px"] .content,
html[style*="--scroll-y: 1px"] .content,
html[style*="--scroll-y: 2px"] .content,
html[style*="--scroll-y: 3px"] .content,
html[style*="--scroll-y: 4px"] .content,
html[style*="--scroll-y: 5px"] .content,
html[style*="--scroll-y: 6px"] .content,
html[style*="--scroll-y: 7px"] .content {
  pointer-events: none;
}

html::view-transition-new(root) {
  mix-blend-mode: normal;
  animation: theme-switch 1s ease-out;
}

@supports not (animation-timeline: scroll(root y)) {
  #background {
    --blur: clamp(0px, calc(50px * var(--scroll-y-percent, 0) + -5px), 10px);
    --brightness: clamp(0.7, calc(-1.5 * var(--scroll-y-percent, 0) + 1.15), 1);
    filter: blur(var(--blur)) brightness(var(--brightness));
  }
}

#root {
  max-width: min(100% - 100px, 1280px);
  margin: 0 auto;
}

@media (max-width: 768px) {
  #root {
    max-width: calc(100% - 50px);
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.name {
  width: min(500px, 120%);
  max-width: 100%;
  position: relative;
}

.name-text-overlay {
  position: absolute;
  font-size: 25px;
  top: 0;
  pointer-events: none;
  z-index: -1;
  filter: opacity(0);
}

.down-arrow {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 0.3s ease;
}

.down-arrow .down-arrow-inner {
  font-size: min(60px, 12vw);
  width: 1em;
  height: 1.5em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  cursor: pointer;
  color: color-mix(in srgb, var(--md-sys-color-primary-container), #fff 30%);
  opacity: 0.55;
  transition: opacity 0.25s ease;
}

@supports not (color: color-mix(in srgb, red, red)) {
  .down-arrow .down-arrow-inner {
    color: rgb(
      calc(var(--md-sys-color-primary-container-r) * 0.7 + 76.5),
      calc(var(--md-sys-color-primary-container-g) * 0.7 + 76.5),
      calc(var(--md-sys-color-primary-container-b) * 0.7 + 76.5)
    );
  }
}

.down-arrow .down-arrow-inner:hover {
  opacity: 0.8;
}

html.scrolled .down-arrow {
  opacity: 0;
  pointer-events: none;
}

.bio {
  opacity: clamp(0.7, 0.75 * var(--scroll-y-percent, 0) + 0.7, 0.85);
  color: color-mix(
    in srgb,
    var(--md-sys-color-primary-container),
    #fff clamp(10%, -275% * var(--scroll-y-percent, 0) + 65%, 65%)
  );
  user-select: none;
  font-size: clamp(18px, 3vmin, 25px);
  font-weight: 400;
  -webkit-mask-image: linear-gradient(
    to right,
    rgb(0, 0, 0) 45.4545454545%,
    rgba(0, 0, 0, 0) 54.5454545455%
  );
  -webkit-mask-size: 220% 100%;
  -webkit-mask-repeat: no-repeat;
  animation-name: bio-fade;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.9s;
  animation-fill-mode: both;
}

.name_title {
  opacity: clamp(0.7, 0.75 * var(--scroll-y-percent, 0) + 0.7, 0.85);
  color: color-mix(
    in srgb,
    var(--md-sys-color-primary-container),
    #fff clamp(10%, -275% * var(--scroll-y-percent, 0) + 65%, 65%)
  );
  user-select: none;
  font-size: clamp(24px, 4vmin, 32px);
  font-weight: 700;
  -webkit-mask-image: linear-gradient(
    to right,
    rgb(0, 0, 0) 45.4545454545%,
    rgba(0, 0, 0, 0) 54.5454545455%
  );
  -webkit-mask-size: 220% 100%;
  -webkit-mask-repeat: no-repeat;
  animation-name: bio-fade;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.9s;
  animation-fill-mode: both;
}
